.btn-add-post {
    background-color: #fff;
}
.btn-add-post:hover {
    background-color: #f7f7f7;
}

.LeftSide-list-article-item {
    list-style-type: none;
}

.LeftSide-list-article-item .article-item-header img {
    margin: auto;
    border-radius: 50%;
    object-fit: cover; /* keep aspect ratio */
    width: 55px;
    height: 55px;
}
.article-item-header {
    border-bottom: 1px solid #E1E1E1;
}
.article-item-header-username {
    font-weight: bold;
}

.LeftSide-list-article-item .article-item-body img {
    margin: auto;
    border-radius: 5px;
    object-fit: cover; /* keep aspect ratio */
    width: 100%;
    height: 100%;
    max-height: 240px;
}

.LeftSide-list-article-item .col-edit-post {
    text-align: end;
}
.LeftSide-list-article-item .col-edit-post label {
    margin: 0 5px;
    cursor: pointer;
    padding: 0 5px;
    border-radius: 4px;
    transition: background-color .2s, color .2s;
}

.LeftSide-list-article-item .col-edit-post label.edit-post:hover {
    color: #fff;
    background-color: #4d9393;
}

.LeftSide-list-article-item .col-edit-post label.edit-delete:hover {
    color: #fff;
    background-color: #ad2929;
}
.modal-photo {
    overflow: hidden;
    border-radius: .25rem;
}
.modal-photo img {
    width: 100%;
    border-radius: 0.25rem;
    border: 1px solid #ced4da;
    max-height: 260px;
    object-fit: cover;
}