@media (max-width: 830px) {
    .loged-in .LeftSide  {
        flex: 0 0 auto !important;
        width: 100% !important;
        margin: auto;
    }
    .loged-in .RightSide {
        flex: 0 0 auto !important;
        width: 80% !important;
        margin: auto;
    }
    .loged-in .LeftSide .Leftside-list-article {
        padding: 0 !important
    }
    main .loged-in {
        flex-direction: column-reverse;
    }
}