@media (max-width: 830px) {
    .logged-in .LeftSide  {
        flex: 0 0 auto !important;
        width: 100% !important;
        margin: auto;
    }
    .logged-in .RightSide {
        flex: 0 0 auto !important;
        width: 80% !important;
        margin: auto;
    }
    .logged-in .LeftSide .Leftside-list-article {
        padding: 0 !important
    }
    main .logged-in {
        flex-direction: column-reverse;
    }
}