.form-signin {
  width: 100%;
  max-width: 450px;
  padding: 15px;
  margin: auto;
}

.form-signin .form-floating:focus-within {
  z-index: 2;
}

.form-signin input {
  border-radius: 10px;
}
.form-signin input[type="email"] {
  margin-bottom: -1px;
}

.form-signin input[type="password"] {
  margin-bottom: 10px;
}

.login-errors li {
  color: #dc3545;
}

label.login-links a {
  margin: 0px 1em;
  color: #439baf;
  text-decoration: none;
}
button.btn {
  border-radius: 5px;
}