html,
body {
  overflow-x: hidden; /* Prevent scroll on narrow devices */
  background-color: #F1F1F1;
  color: #383838;
  min-width: 240px;
  min-height: 240px;
}

.rounded-c {
  border-radius: 10px;
}

.text-small {
  font-size: 85%;
}

.dropdown-toggle {
  outline: 0;
}

button[type="submit"] {
  background-color: #439baf;
  border: 1px solid #3a8292;
  border-radius: 10px;
}

button[type="submit"]:hover {
  background-color: #3a8292;
  border: 1px solid #32707e;
}

input[required] + label:after {
  content: " *";
  color: red;
}